.container{
    display :grid;
}
a{
    background-image:url('../star/images/star_unrate.png') ;
    display:block;
    width:40px;
    margin-top :1.1542rem;
    background-repeat: no-repeat;
    height:40px;
    line-height:16px;
    float:left;
    cursor: pointer;
    zoom:1;
}

.fullStar{
    background-image:url('../star/images/star_rate.png') ;

}
img{
    float :left;
    margin: 0.857142rem 0.857142rem 2rem;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
/*img:active {
    position: relative; 
    right: 3rem ;
    bottom : 1rem;
    border : 3px solid;
    visibility:visible;
    z-index:1;
   
}*/
#brand_container {
    margin: 1px;
    background: whitesmoke;
    width: 30%;
    height: 100px;
    padding-top: 12px;
}

